.slide-item {
  animation: slideRight 2s linear infinite alternate; 
  width: 200px; 
  margin: 0 auto; 
}


@keyframes slideRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(20px); 
  }
}

.logo-container {
  background-color: white; /* Color de fondo */
  border-radius: 8px; /* Esquinas redondeadas */
  padding: 2px; /* Espacio interno reducido */
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
  width: 70px; /* Ancho del contenedor */
  height: 70px; /* Altura del contenedor */
  display: flex;
  justify-content: center;
  align-items: center;
}